.section2_container{
    min-height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.section2_container .content_container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0;
    
}

.section2_container .heading_area{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:#ffffff;
    margin-top: 6rem;
}
.section2_container .heading_area strong{
    font-weight: 600;
    font-size: 56px;
    filter:contrast(21);
    margin-top: 3rem;
}

.section2_container .para_area{
    width: 53%;
    color:#f9f6eea1;
    margin-top:3rem ;
    text-align: center;
}

.section2_container .para_area strong{
    font-weight: 500;
    font-size: 42px;
    filter:contrast(21);
}

.section2_container  img{
    width: 100%;
    height: 100vh;
    position: absolute;
}

@media  screen and (max-width:950px) {
    .section2_container .heading_area strong{
        font-size: 38px;
    }
    .section2_container .para_area{
        width: 95%;
        
    }
    .section2_container .para_area strong{
        font-size: 32px;
    }
    
}