.forgot_password_content_container {
    width: 50%;
    height: 50vh;
    position: absolute;
    top: 22%;
    left: 2%;
    display: flex;
    flex-direction: column;
}

.forgot_password_content_container h3 {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    filter: contrast(1.2);
}

.forgot_password_content_container h2 {
    color: #f9f6eeda;
}

.forgot_password_content_container h2 label {
    font-size: 2.2rem;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    filter: contrast(1.2);
}

.forgot_password_content_container .input_field {
    width: 47%;
    height: 3.7rem;
    background-color: rgba(182, 182, 182, 0.1);
    border-radius: 0.8rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.4rem;
    padding-left: 0.6rem;
    cursor:pointer;
    transition:0.3s ease;
}
.forgot_password_content_container .input_field:hover{
    box-shadow: rgba(193, 201, 209, 0.2) 0px 4px 12px;
}

.forgot_password_content_container .input_field p {
    font-weight: lighter;
    font-size: 0.8rem;
    color: #f9f6eed2;
    margin-bottom: 0.3rem;
}

.forgot_password_content_container .input_field input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1rem;
    color: #f9f6ee;
    font-family: 'Libre Baskerville', serif;
}

.forgot_password_content_container button {
    width: 47%;
    height: 3.5rem;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.8rem;
    transition: 0.3s ease;
    margin-top: 1rem;
}
.forgot_password_content_container button:hover{
    border-color: rgba(255,255,255,0.4);
}
.forgot_password_content_container button:active{
    transform:scale(95%);
}

.forgot_password_content_container button label {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 1.1rem;
}

@media screen and (max-width:950px) {
    .forgot_password_content_container{
        width: 95%;
        padding-left: 1rem;
    }
    .forgot_password_content_container .input_field{
        width: 100%;
    }
    .forgot_password_content_container button {
        width: 100%;
    }
    .forgot_password_content_container button label {
        font-size: 1rem;
    }

    
}